cdk-accordion {
  cdk-accordion-item {
    @apply flex flex-col;
    &:not(:last-of-type) {
      @apply border-b border-light-145;
    }

    .accordion-item-header {
      font-size: 21px;
      @apply p-4 flex justify-start items-center leading-6 font-normal relative;
      &:after {
        transition: transform 0.5s ease;
        @apply content-[""] h-6 w-6 inline-block end-4 absolute;
        background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none"><path d="M16.001 17.5624L22.601 10.9624L24.4863 12.8477L16.001 21.3331L7.51562 12.8477L9.40096 10.9624L16.001 17.5624Z" fill="%23946D00"/></svg>')
          center center no-repeat;
        background-size: contain;
      }
      &.expanded:after {
        transform: rotate(180deg);
        @apply end-2;
      }

      &:hover {
        @apply bg-light-110;
      }
      &:active {
        @apply bg-light-120;
      }
      &:focus-visible {
        @apply outline outline-2 outline-blue-50;
      }
    }
    .accordion-body {
      overflow: hidden;
      @apply px-6 pt-4 pb-8 cursor-auto;
    }
  }
  &.slim {
    .accordion-item-header {
      @apply p-2 text-base leading-tight;
      &:after {
        background-size: 18px auto;
      }
    }
    .accordion-body {
      @apply px-4 py-3;
    }
  }

  &.slim2x {
    .accordion-item-header {
      @apply p-2 text-sm leading-tight;
      &:after {
        background-size: 18px auto;
      }
    }
    .accordion-body {
      @apply px-0 py-3;
    }
  }
}
