.spinner {
  @apply w-20 h-20 border border-4 border-b-transparent rounded-full inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;

  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

.progress-bar {
  @apply bg-amber-600 opacity-50;
  animation: progress 2s infinite linear;
  transform-origin: 0 50%;
}

@keyframes progress {
  0% {
    transform: translateX(0) scaleX(0);
  }
  40% {
    transform: translateX(0) scaleX(0.4);
  }
  100% {
    transform: translateX(100%) scaleX(0.5);
  }
}
