thead {
  font-size: 14px;
  line-height: 20px;
  text-align: left;
}

tbody {
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
}

td {
  padding: 16px 12px;
}

td:first-child {
  padding-left: 16px;
}

th {
  padding: 16px 12px;
}

th:first-child {
  padding-left: 16px;
}

tr {
  border-bottom: 1px solid;
  @apply border-light-145;
}
